In [74]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

In [75]:
df = pd.read_csv(r'Data Files\fr_postal_codes.csv', encoding = 'iso-8859-1')
df.head()

,Postal Code,Place Name,State,County,City,Latitude,Longitude
0,24000,Périgueux,Aquitaine,Dordogne,Arrondissement de Périgueux,45.1833,0.7167
1,24001 CEDEX,Périgueux,Aquitaine,Dordogne,Arrondissement de Périgueux,45.1833,0.7167
2,24002 CEDEX,Périgueux,Aquitaine,Dordogne,Arrondissement de Périgueux,45.1833,0.7167
3,24003 CEDEX,Périgueux,Aquitaine,Dordogne,Arrondissement de Périgueux,45.1833,0.7167
4,24004 CEDEX,Périgueux,Aquitaine,Dordogne,Arrondissement de Périgueux,45.1833,0.7167

In [76]:
df.shape

(51130, 7)

In [77]:
df_paris = df[df['City'] == 'Paris']

In [78]:
df_paris = df_paris.reset_index(drop = True)
print(df_paris.head())
print(df_paris.shape)

  Postal Code               Place Name          State County   City  Latitude  \
0       75001          Paris 01 Louvre  Île-de-France  Paris  Paris   48.8592
1       75002          Paris 02 Bourse  Île-de-France  Paris  Paris   48.8655
2       75003          Paris 03 Temple  Île-de-France  Paris  Paris   48.8637
3       75004  Paris 04 Hôtel-de-Ville  Île-de-France  Paris  Paris   48.8601
4       75005        Paris 05 Panthéon  Île-de-France  Paris  Paris   48.8448

   Longitude
0     2.3417
1     2.3426
2     2.3615
3     2.3507
4     2.3471
(845, 7)

In [79]:
df_paris['Place Name'].value_counts()

Paris 15 Vaugirard              62
Paris 08 Élysée                 61
Paris 13 Gobelins               59
Paris 12 Reuilly                56
Paris 19 Buttes-Chaumont        55
Paris 17 Batignolles-Monceau    54
Paris 09 Opéra                  54
Paris 02 Bourse                 52
Paris 14 Observatoire           46
Paris 16 Passy                  43
Paris 11 Popincourt             40
Paris 18 Buttes-Montmartre      38
Paris 10 Entrepôt               37
Paris 07 Palais-Bourbon         36
Paris 01 Louvre                 35
Paris 20 Ménilmontant           29
Paris 06 Luxembourg             27
Paris 05 Panthéon               26
Paris 04 Hôtel-de-Ville         19
Paris 03 Temple                 16
Name: Place Name, dtype: int64

In [80]:
df_paris['Place Name'] = df_paris['Place Name'].str.lstrip('Paris ')

In [81]:
df_paris['Place Name'] = df_paris['Place Name'].str.lstrip('0123456789 ')

In [82]:
df_paris['Place Name'].value_counts()

Vaugirard              62
Élysée                 61
Gobelins               59
Reuilly                56
Buttes-Chaumont        55
Batignolles-Monceau    54
Opéra                  54
Bourse                 52
Observatoire           46
Passy                  43
Popincourt             40
Buttes-Montmartre      38
Entrepôt               37
Palais-Bourbon         36
Louvre                 35
Ménilmontant           29
Luxembourg             27
Panthéon               26
Hôtel-de-Ville         19
Temple                 16
Name: Place Name, dtype: int64

In [83]:
df_paris.head()

,Postal Code,Place Name,State,County,City,Latitude,Longitude
0,75001,Louvre,Île-de-France,Paris,Paris,48.8592,2.3417
1,75002,Bourse,Île-de-France,Paris,Paris,48.8655,2.3426
2,75003,Temple,Île-de-France,Paris,Paris,48.8637,2.3615
3,75004,Hôtel-de-Ville,Île-de-France,Paris,Paris,48.8601,2.3507
4,75005,Panthéon,Île-de-France,Paris,Paris,48.8448,2.3471

In [84]:
df_paris = df_paris.drop(['State', 'County', 'City'], axis = 1)

In [85]:
df_paris.head()

  Postal Code      Place Name  Latitude  Longitude
0       75001          Louvre   48.8592     2.3417
1       75002          Bourse   48.8655     2.3426
2       75003          Temple   48.8637     2.3615
3       75004  Hôtel-de-Ville   48.8601     2.3507
4       75005        Panthéon   48.8448     2.3471

In [86]:
df_paris.rename(columns = {'Place Name': 'Borough'}, inplace = True)
df_paris.head()

  Postal Code         Borough  Latitude  Longitude
0       75001          Louvre   48.8592     2.3417
1       75002          Bourse   48.8655     2.3426
2       75003          Temple   48.8637     2.3615
3       75004  Hôtel-de-Ville   48.8601     2.3507
4       75005        Panthéon   48.8448     2.3471

In [87]:
df_paris.shape

(845, 4)

In [89]:
df_paris.to_csv('Paris Postal Codes.csv', index = False)