### Adding Geospatial Coordinates to the neighorhood dataset

Use the already created dataset from the Scraping notebook.
Import the necessary packages

In [15]:
# Basic utilities
import re
import json
import requests
import urllib

# Packages for data manipulation
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Packages for Visualization
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt
import seaborn as sns
import folium

# Package to get co-ordinates
from geopy.geocoders import Nominatim
import geocoder

# Machine Learning packages
from sklearn.cluster import KMeans

%matplotlib inline

In [9]:
df = pd.read_csv('neighborhood_data.csv')
df.head()

   Unnamed: 0 PostalCode           Borough                      Neighborhood
0           0        M3A        North York                         Parkwoods
1           1        M4A        North York                  Victoria Village
2           2        M5A  Downtown Toronto         Harbourfront, Regent Park
3           3        M6A        North York  Lawrence Heights, Lawrence Manor
4           4        M7A      Queen's Park                      Queen's Park

In [10]:
df.drop('Unnamed: 0', axis = 1, inplace = True)
df.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Harbourfront, Regent Park
3        M6A        North York  Lawrence Heights, Lawrence Manor
4        M7A      Queen's Park                      Queen's Park

In [11]:
geo = pd.read_csv('Geospatial_Coordinates.csv')
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
df = df.merge(geo, left_on = 'PostalCode', right_on = 'Postal Code', how = 'outer')
df.head()

,PostalCode,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,M3A,North York,Parkwoods,M3A,43.753259,-79.329656
1,M4A,North York,Victoria Village,M4A,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",M5A,43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",M6A,43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,M7A,43.662301,-79.389494

In [13]:
df.drop('Postal Code', axis = 1, inplace = True)

In [14]:
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494